/* Hide navigation elements */
#header-wrap,
#mw-js-message,
.entry-meta,
#footer-wrap {
	display:none;
}

/* Ensure footer text with URL isn't justified or affected by floats */
.printfooter {
	text-align: left;
	clear: both;
}
